<div class="container">
    <h1><strong>LIST OF EMPLOYEES</strong></h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Address</th>
            <th>Status</th>
            <th>Job Title</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of employeeData; let i = index">
            <td>{{item.employee_name}}</td>
            <td>{{item.department}}</td>
            <td>{{item.address}}</td>
            <td>{{item.status}}</td>
            <td>{{item.job_title}}</td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="deleteThisSalary(item.url) "> 
                  <i class="fa fa-remove"></i>Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>