<div class="body" style="color:purple">
    <div style="text-align:center">
        <h1>
            Login
        </h1>
    </div>

    <div style="text-align:center">
        <input #username type='text' placeholder='username'>
        <input #password type='password' placeholder='password'>
        <button (click)="login(username.value, password.value)">login</button>
    </div>
    <div style="text-align:center">
        <button>Sign-up</button>
    </div>
    <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>

</div>