<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align:center">
        <h1>
            SIGN-UP
        </h1>
    </div>

    <div style="text-align:center">
        <input #username type='text' placeholder='username'>
        <input #email type='text' placeholder='email'>
        <input #password1 type='password' placeholder='password1'>
        <input #password2 type='password' placeholder='password2'>
    </div>
    <div style="text-align:center"><button (click)="signup(username.value, email.value, password1.value, password2.value)">sign-up</button></div>
    <br>
    <div style="text-align:center">
        <a routerLink="/login"><button class="btn btn-success pull-right" >Login</button></a>
    </div>

    <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>

</body>

</html>