<nav class="navbar fixed-toppe navbar-expand-lg navbar-light">
  <a class="navbar-brand">
    <h3>Ajira Enterprise</h3>
  </a>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" class="nav-link"><strong>Home</strong></a>
        </li>
        <li>
          <a routerLink="post" class="nav-link"><strong>Post</strong></a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto">
      <ul class="navbar-nav ml-auto" *ngIf="!authenticated">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link"><strong>Login</strong></a>
        </li>
      </ul>
    </div>
  <div>
    <ul class="navbar-nav ml-auto" *ngIf="authenticated">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><strong>Logout</strong></a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
</nav>
