@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nav-link {
    color: white !important;
}

.nav-link {
    cursor: pointer;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Denk One', sans-serif;
    
}

nav {
    background-image: linear-gradient(to right, #152ae7, #a536ff);
}

h2 {
    font-family: 'Denk One', sans-serif;
    text-shadow: #111213;
}

element {
    margin-top: auto;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.fa{
    padding-right: 10px;
}
.nav-item{
    margin-left: 70px;
}