@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nav-link {
    color: white !important;
}

.nav-link {
    cursor: pointer;
}

nav {
    background-image: linear-gradient(to right, #152ae7, #a536ff);
}

h3 {
    font-family: 'Pacifico', cursive;
    color: white;
    
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: medium;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    text-transform: capitalize;
}
.navbar[_ngcontent-dni-c60] {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: x-large;
}
.navbar-nav{
    float: right;
}