<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" routerLink="/" style="margin-top: initial;">
        <h2 style="margin-top: auto;">
            Ajira Enterprise
        </h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true"></i><strong>Home</strong>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/post" class="nav-link">
                    <strong>Post</strong>
                </a>
            </li>
            <li class="nav-item ml-2">
                <a *ngIf="authenticated" class="nav-link" (click)="logout()">
                    <i class="fa fa-sign-out-alt mr-1" aria-hidden="true"></i>
                    <strong>Logout</strong>
                </a>
                <a *ngIf="!authenticated" class="nav-link" routerLink='/login'>
                    <i class="fa fa-sign-in" aria-hidden="true"></i> <strong>Login</strong>
                </a>
            </li>
        </ul>
    </div>
</nav>
