<nav class="navbar  fixed-toppe navbar-expand-lg navbar-light" >
    <a class="navbar-brand">
        <h3>
            Ajira Enterprise
        </h3>
       
    </a>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li>
          <a routerLink="post" class="nav-link">Post</a>
        </li>
        
      </ul>
    </div>
  </nav>
