<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
</head>

<body>
    <div class="card-body">
        <div class="card">
            <h1><strong>Welcome To Ajira Enterprise</strong></h1>
            <form>
                <div class="form-row">
                    <div class="form-group">
                        <a routerLink="/employee-form"><button class="btn btn-outline-white" ><strong>ADD EMPLOYEE</strong></button></a>
                    </div>
                    <div class="form-group">
                        <a routerLink="/employee-details-page"><button class="btn btn-outline-white" ><strong>MANAGE EMPLOYEES</strong></button></a>
                    </div>
                    <div class="form-group">
                        <a routerLink="/employee-salary"><button class="btn btn-outline-white" ><strong>ADD EMPLOYEE SALARY</strong></button></a>
                    </div>
                    <div class="form-group">
                        <a routerLink="post"><button type="button" class="btn btn-outline-primary" ><strong>VIEW EMPLOYEE SALARY</strong></button></a>
                    </div>
                    <div class="form-group">
                        <a routerLink="/leave-form"><button class="btn btn-outline-white" ><strong>ADD LEAVE DAYS</strong></button></a>
                    </div>
                    <div class="form-group">
                        <a routerLink="#"><button class="btn btn-outline-white" ><strong>MANAGE LEAVE DAYS</strong></button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="" async defer></script>
</body>

</html>