<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-4">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
<body>
       
<div class="center">
    <div class="col-12 float-md-rigt text-md-center pt-25px">
      <div class="card">
      <h1> <strong>Welcome To Ajira Enterprise</strong></h1>
        <ul>
            <button type="button" class="btn btn-primary btn-lg btn-block"><strong>ADD EMPLOYEE</strong></button>
        </ul>
        <ul>
            <button type="button" class="btn btn-primary btn-sm btn-block"><strong>MANAGE EMPLOYEES</strong></button>
        </ul>
        <ul>
            <button type="button" class="btn btn-primary btn-lg btn-block"><strong>VIEW SALARY STATUS</strong></button>
        </ul>
        <ul>
            <button type="button" class="btn btn-primary btn-lg btn-block"><strong>MANAGE LEAVE DAYS</strong></button>
        </ul>
       </div> 
    </div>
</div>
</body>
</html>
