.row>* {
    flex-shrink: 0;
    width: 100%;
    line-height: 2.0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
    --bs-gutter-x: -13.5rem;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.7;
    color: blue;
    background-color: #C52323;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    height: 600px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-position: center center;
    box-sizing: border-box;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 4rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    align-items: inherit;
    font-weight: 900;
}

.card {
    position: center;
    display: inline-grid;
    flex-direction: column;
    min-width: 0px;
    word-wrap: break-word;
    background-color: #05050578;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    width: 1252px;
    box-shadow: #212529;
    margin-left: 10px;
    background: cover;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: blue;
    border: 5px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.h1,
h1 {
    font-size: 10.5rem;
    color: white;

}

.text-primary {
    color: white !important;
}

Style Attribute {
    font-size: 10.5rem;
}