<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>welcome to Ajira interprice</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="col-12 float-md-rigt text-md-center pt-5">
            <div class="card">

                <ul>
                    <h1 class="text-center text-primary">WELCOME TO AJIRA ENTERPRISE</h1>

                </ul>

                <ul>
                    <a routerLink="post"><button type="button" class="btn btn-primary" >Click Here</button></a>
                </ul>

            </div>


        </div>
    </div>
</body>

</html>