
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');



form input{
  color:rgb(0, 0, 0);
}

.container{
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
  
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 
}
      .bg-custom{
      background: #1247b9;
      }
      .bg-custom-form{
      background: #333333;
      }
      h1{
      top: 25%;
      text-align: center;
      position: relative;
      font-size: 100px;
      text-transform: uppercase;
      line-height: 140px;
      letter-spacing: 4px;
      }
      h1,label{
      color: rgb(8, 7, 7);
      font-size: 15px;
      }
    
      label{
      margin: 5px 0px;
      }
      p{
          font-size: 20px;
      }
      .form-control{
      outline: none;
      border: none;
      background: none;
      border-bottom: 1px solid rgb(0, 0, 0);
      border-radius: 0px !important;
      }
      .form-control:focus,.form-control:hover{
      border:none;
      margin: 0 auto;
      background: none;
      box-shadow: none;
      border-bottom: 1px solid #39508f;
      }
      .btn{
      border-radius: 0px;
      }
      .btn-custom,.btn-custom:focus{
        background: #5360d6;
        background: #6749d4;
      color: #fff;
      box-shadow: none;
      }
      .btn-custom:hover{
      background: #1d2657;
      color: #fff;
      }
      .image{
        width: 100%;
      }
      .images{
        border-radius: 20%;
        width: 30%;
        margin-left: 183px;
      }
      .fa{
        padding-right: 10px;
       
    }
      @media(max-width:768px){
      .none{
      display: none;
      }
      } 