<div id="sect1" class="container-fluid">
    <div  class="container ">
      <h2 class="text-center text-black p-2 pt-4">Welcome to Ajira Enterprise</h2>
      <div class="row m-4">
        <div class="col-md-6 col-sm-12 bg-custom none" >
        <img class="image" src="assets/connect.svg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 bg-custom-form" style="background: rgba( 255, 255, 255, 0.25 );backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );">
          <p class="text-center mb-0 pt-4">Log in</p>
          <form [formGroup]="form"  (submit)="submit()" class="p-3">
            <div class="form-group">
              <label for="email">EMAIL</label>
              <input formControlName="email" type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="pwd">PASSWORD</label>
              <input formControlName="password" type="password" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-custom mb-3 mt-3">Log in</button>
              </form>
        </div>
      </div>
    </div>
    </div>
   